:root{
    --primarycolor:#ff206e;
    --mainfont:"Open Sans", sans-serif;
}
.body{
    font-family: var(--mainfont);
}
.__primarytext{
    color: var(--primarycolor);
    text-decoration: none;
}
 h2 {
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}