
.nav-link ,.navbar-brand{
    color: #fff;
}
.nav-link ,.navbar-brand:hover{
    color: #fff;
}

 .navbar-nav .nav-item .nav-link:focus{
    color: var(--primarycolor);
}
 .navbar-nav .nav-item .nav-link:hover{
    color: #fff;
}
.hero{
    background-image: url(./../img/bg.jpg);
    background-size: cover;
    background-position-y: -20px;
}
@media screen and (max-width:865px) {
    .hero{
        background-position-x: 45%;
    }
    
    }

.about{
    background-image: url(../img/public/light_dot.jpg);
}
@media screen and (max-width:992px) {
    .about-img{
        margin: auto;
        width: 70%;
    }
    
}
.Portfolio{
    background-image: url(../img/public/light_dot.jpg);
}
.Portfolio .nav-tabs {
    border: none;
}
.Portfolio .nav-tabs button{
    border: none;
    color: #000;
}
.Portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primarycolor);
}
.Portfolio .nav-tabs :focus ,
.Portfolio .nav-tabs :hover{
    border: none;
    color: var(--primarycolor);
} 
 .portfoli-img-hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 5%;
    height: 90%;
    width: 90%;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top;

}
 .portfoli-img:hover .portfoli-img-hover{
    opacity: 1;
    transform: scaleY(1);
 }
.testimonial-img img{
    width: 100px;
    border: 2px #fff;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 20px;
    top: -50px;
    right: 46.5%;
}
.testimonials-title{
    margin-bottom: 90px;
}
.testimonial h4{
    text-decoration: underline red 1px;
    text-underline-offset: 15px;
}