
.nav-link ,.navbar-brand{
    color: #fff;
}
.nav-link ,.navbar-brand:hover{
    color: #fff;
}

 .navbar-nav .nav-item .nav-link:focus{
    color: var(--primarycolor);
}
 .navbar-nav .nav-item .nav-link:hover{
    color: #fff;
}
.hero{
    background-image: url(./../img/bg.jpg);
    background-size: cover;
    background-position-y: -20px;
}
@media screen and (max-width:600px) {
    .hero{
        background-position-x: 40%;
    }
    
    }

.about{
    background-image: url(../img/public/light_dot.jpg);
}
@media screen and (max-width:992px) {
    .about-img{
        width: 100%;
    }
    
}
.Portfolio{
    background-image: url(../img/public/light_dot.jpg);
}
.Portfolio .nav-tabs {
    border: none;
}
.Portfolio .nav-tabs button{
    border: none;
    color: #000;
}
.Portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primarycolor);
}
.Portfolio .nav-tabs :focus ,
.Portfolio .nav-tabs :hover{
    border: none;
    color: var(--primarycolor);
} 
 .portfoli-img-hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 5%;
    height: 90%;
    width: 90%;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top;

}
 .portfoli-img:hover .portfoli-img-hover{
    opacity: 1;
    transform: scaleY(1);
 }